<!--<app-top-cards></app-top-cards>-->
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<iframe title="Rapports" style="width: 100%; min-height :730px; margin: 0; padding: 0" src="https://app.powerbi.com/reportEmbed?reportId=46b7a83c-e07e-4155-a542-fcf21f98062d&autoAuth=true&filterPaneEnabled=false&ctid=513486ec-6643-4f17-a508-76478311be42&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWZyYW5jZS1jZW50cmFsLWEtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" filterPaneEnabled="false" frameborder="0" allowFullScreen="true " explorationNavigationContent="false"></iframe>
<!--<div class="row">
  <div class="col-lg-7">
    <app-sales-ratio></app-sales-ratio>
  </div>
  <div class="col-lg-5">
    <app-feeds></app-feeds>
  </div>
</div>-->
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!--<div class="row">-->
  <!-- column -->
  <!--<div class="col-12">
    <app-top-selling></app-top-selling>
  </div>
</div>-->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
<app-blog-cards></app-blog-cards>
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
