<div class="card">
    <div class="card-body">
        <h4 class="card-title">About <b>InsureSense</b> by <u><i>BluBerry</i></u></h4>
        <h5 class="card-subtitle text-muted">InsureSense is a BI solution that was made for insurances, to help managers get better decisions
            <br>
            <br>
            What decisions and how ? great questions
            <br>
            <br>
            Our solution will help you retain Clients, and not only them, but Brokers that you work with too
            <br><br>
            And about the how question, we provide a customizable Dashboard where you can track, filter, predict and also with some calculated KPIs (Key Performance Indicators)
            <br><br>
            Using Business Intelligence combined with Data Mining and also ..
            <br><br>
            By structuring, cleaning, and giving Sense to data that we get from you, your partners, our partners and also collected from the internet
            <br><br>
            <b>Do you want to give us a shot the impress you ? </b>
            <br><br>
            Here is the contact informations that you need to contact the sales team:
            <br><br>
            <ul>
                <li><b>Email: </b><a href="mailto:BlueBerry@esprit.tn">BluBerry@esprit.tn</a></li>
                <li><b>Phone number: </b>+216 00 000 000</li>
                <li><b>Address: </b>4 street ERP-BI 4, El Ghazella -Tunisia</li>
            </ul>
        </h5>
        <div class="my-4">
            <img src="assets/images/bg/monster-angular-admin-y.png" class="img-fluid"  />
        </div>        
        
    </div>
</div>